<div class="mt-4">
    <h3>Dang khoa hoc</h3>

    <form method="post" action="/courses/store">
        <div class="mb-3">
            <label for="name" >Ten khoa hoc</label>
            <input type="text" class="form-control" id="name" name="name">
            
        </div>

        <div class="mb-3">
            <label for="description" >Mo ta khoa hoc</label>
            <input type="text" class="form-control" id="description" name="description">
            
        </div>

        <div class="mb-3">
            <label for="videoId" >video mo ta</label>
            <input type="text" class="form-control" id="videoId" name="videoId">
            
        </div>

        <div class="mb-3">
            <label for="level" >trinh do</label>
            <input type="text" class="form-control" id="level" name="level">
            
        </div>

        <div class="mb-3">
            <label for="image" >hinh anh</label>
            <input type="text" class="form-control" id="image" name="image">
            
        </div>
       
        <button type="submit" class="btn btn-primary">Them khoa hoc</button>
        </form>

</div>