<div class="mt-4">
            <form method="post" action="">
        <div class="mb-3">
            <label for="search-input" class="form-label">Tu khoa</label>
            <input type="text" name="fullname">
            <input type="text" name="age">
            <input type="text" name="q" class="form-control" id="search-input" placeholder="nhap tu khoa">
        </div>

       <div class="form-group">
        <label for="gender-input">tu khoa</label>
        <select name="gender" class="form-control" id="gender-input">
            <option value="">--chon gioi tinh--</option>
            <option value="male">nam</option>
            <option value="female">nu</option>
        </select>
       </div>

        <button type="submit" class="btn btn-primary">Tim kiem</button>
        </form>
</div>